.jsx-live-compiler {
  margin: 0;
  padding: 0;
  font-family:  monospace;

  .header {
    display: block;
    height: 5vh;
    overflow: auto;
    background-color: pink;
    color: red;
    font-size: 28px;
  }

  .container {
    height: 95vh;
    display: flex;
  }

  pre {
    width: 50%;
    font-family:  monospace;
    font-size: 28px;
    margin: 0;
    padding: 10px;
    color: #222;
  }

  textarea:focus {outline: 0;}
}